<%- include('header') -%>
<%- include('navbar') -%>
<div class="container">
    <h1 class="row justify-content-center mt-4">FootballClub Login</h1>
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-box" class="col-md-6  mt-5">
            <form class="border border-dark rounded p-4">
                <div class="form-group mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <a class="btn btn-primary" href="/team">Login</a>
            </form>
        </div>
    </div>

</div>
<%- include('footer') -%>